# Working with Data frame

## 1. Pandas Library

Pandas library is the one of the most populated used library for manipulating with data. We use the Series and Dataframe data structure extensively as these are much more powerful and useful to manipulate with data when compare with list and dictionary in python.

There's another very popular library called Numpy. Pandas bulid on top of it and we usually use pandas directly.

In [1]:
import pandas as pd

## 2. Pandas Series

A series is very similar to a list. We can easily convert a list to a simple series. A series also has index.

In [2]:
stocks = ["AAPL", "BABA", "DIDI", "MSFT", "AMZN", "ADBE", "TSLA", "MS", "V", "MA", "GS"]

In [3]:
stocks_series = pd.Series(stocks)

In [4]:
stocks_series

0     AAPL
1     BABA
2     DIDI
3     MSFT
4     AMZN
5     ADBE
6     TSLA
7       MS
8        V
9       MA
10      GS
dtype: object

Getting the values using index

In [5]:
stocks_series[0]

'AAPL'

In [6]:
stocks_series[1:3]

1    BABA
2    DIDI
dtype: object

In [7]:
stocks_series[2:6]

2    DIDI
3    MSFT
4    AMZN
5    ADBE
dtype: object

The difference between list and series is that we can use not use interger as index. Now it looks more like a dictionary. And we can create it from a dictionary

In [8]:
sales = {'Central Branch' : 10000,
         'TST Branch' : 2000,
         'Mongkok Branch' : 3000}

In [9]:
sales_series = pd.Series(sales)

In [10]:
sales_series

Central Branch    10000
TST Branch         2000
Mongkok Branch     3000
dtype: int64

Getting the number using index

In [11]:
sales_series["Central Branch"]

np.int64(10000)

## 3 Pandas Dataframe

You can consider the Series is one column of data on an excel spreadsheet. A dataframe has mulitple series and you can consider that the data of a whole spreadsheet

### 3.1 Create dataframe from csv

In [12]:
aapl = pd.read_csv("AAPL.csv")

In [13]:
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-28,61.855000,62.312500,61.680000,62.262501,61.650810,96572800
1,2019-10-29,62.242500,62.437500,60.642502,60.822498,60.224953,142839600
2,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
3,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000
4,2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200
...,...,...,...,...,...,...,...
248,2020-10-21,116.669998,118.709999,116.449997,116.870003,116.870003,89946000
249,2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000
250,2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600
251,2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700
252,2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,91927700

In [14]:
aapl_proper_index = pd.read_csv("AAPL.csv", parse_dates=True, index_col='Date')

In [15]:
aapl_proper_index

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-10-28,61.855000,62.312500,61.680000,62.262501,61.650810,96572800
2019-10-29,62.242500,62.437500,60.642502,60.822498,60.224953,142839600
2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000
2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200
...,...,...,...,...,...,...
2020-10-21,116.669998,118.709999,116.449997,116.870003,116.870003,89946000
2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000
2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600
2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700
2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,91927700

### 3.2 From Quandl

In [16]:
import quandl

In [17]:
quandl.ApiConfig.api_key = 'x9M_pZutNNPnha1WDdjZ'
ck = quandl.get('HKEX/00001', start_date='2020-10-20', end_date='2021-10-20')

QuandlError: (Status 403) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@quandl.com.

In [18]:
ck

NameError: name 'ck' is not defined

### 3.3 From Series

In [19]:
costs = {'Central Branch' : 300000,
         'TST Branch' : 50000,
         'Mongkok Branch' : 20000}

In [20]:
branch_summary = pd.DataFrame({"sales": sales, "costs": costs})

In [21]:
branch_summary

                sales   costs
Central Branch  10000  300000
TST Branch       2000   50000
Mongkok Branch   3000   20000

### 3.4 Getting data from dataframe (getting rows with date)

In [22]:
aapl_proper_index.loc["2019-10-30"]

Open         6.119000e+01
High         6.132500e+01
Low          6.030250e+01
Close        6.081500e+01
Adj Close    6.021753e+01
Volume       1.245220e+08
Name: 2019-10-30 00:00:00, dtype: float64

In [23]:
aapl_proper_index.loc["2019-10-30":"2019-11-15"]

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-10-30  61.189999  61.325001  60.302502  60.814999  60.217525  124522000
2019-10-31  61.810001  62.292500  59.314999  62.189999  61.579021  139162000
2019-11-01  62.384998  63.982498  62.290001  63.955002  63.326683  151125200
2019-11-04  64.332497  64.462502  63.845001  64.375000  63.742554  103272000
2019-11-05  64.262497  64.547501  64.080002  64.282501  63.650970   79897600
2019-11-06  64.192497  64.372498  63.842499  64.309998  63.678192   75864400
2019-11-07  64.684998  65.087502  64.527496  64.857498  64.413116   94940400
2019-11-08  64.672501  65.110001  64.212502  65.035004  64.589409   69986400
2019-11-11  64.574997  65.617500  64.570000  65.550003  65.100876   81821200
2019-11-12  65.387497  65.697502  65.230003  65.489998  65.041283   87388800
2019-11-13  65.282501  66.195000  65.267502  66.117500  65.664490  102734400
2019-11-14  65.937500  66.220001  65.525002  65.660004  65.210121   89182800
2019-11-15  65.919998  66.445000  65.752502  66.440002  65.984779  100206400

In [24]:
aapl_proper_index.loc["2019-11"]

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-11-01  62.384998  63.982498  62.290001  63.955002  63.326683  151125200
2019-11-04  64.332497  64.462502  63.845001  64.375000  63.742554  103272000
2019-11-05  64.262497  64.547501  64.080002  64.282501  63.650970   79897600
2019-11-06  64.192497  64.372498  63.842499  64.309998  63.678192   75864400
2019-11-07  64.684998  65.087502  64.527496  64.857498  64.413116   94940400
2019-11-08  64.672501  65.110001  64.212502  65.035004  64.589409   69986400
2019-11-11  64.574997  65.617500  64.570000  65.550003  65.100876   81821200
2019-11-12  65.387497  65.697502  65.230003  65.489998  65.041283   87388800
2019-11-13  65.282501  66.195000  65.267502  66.117500  65.664490  102734400
2019-11-14  65.937500  66.220001  65.525002  65.660004  65.210121   89182800
2019-11-15  65.919998  66.445000  65.752502  66.440002  65.984779  100206400
2019-11-18  66.449997  66.857498  66.057503  66.775002  66.317490   86703200
2019-11-19  66.974998  67.000000  66.347504  66.572502  66.116371   76167200
2019-11-20  66.385002  66.519997  65.099998  65.797501  65.346687  106234400
2019-11-21  65.922501  66.002502  65.294998  65.502502  65.053703  121395200
2019-11-22  65.647499  65.794998  65.209999  65.445000  64.996597   65325200
2019-11-25  65.677498  66.610001  65.629997  66.592499  66.136230   84020400
2019-11-26  66.735001  66.790001  65.625000  66.072502  65.619789  105207600
2019-11-27  66.394997  66.995003  66.327499  66.959999  66.501213   65235600
2019-11-29  66.650002  67.000000  66.474998  66.812500  66.354729   46617600

### 3.5 Getting data from dataframe (get a series)

In [25]:
aapl_proper_index.loc["2019-11"]["Close"]

Date
2019-11-01    63.955002
2019-11-04    64.375000
2019-11-05    64.282501
2019-11-06    64.309998
2019-11-07    64.857498
2019-11-08    65.035004
2019-11-11    65.550003
2019-11-12    65.489998
2019-11-13    66.117500
2019-11-14    65.660004
2019-11-15    66.440002
2019-11-18    66.775002
2019-11-19    66.572502
2019-11-20    65.797501
2019-11-21    65.502502
2019-11-22    65.445000
2019-11-25    66.592499
2019-11-26    66.072502
2019-11-27    66.959999
2019-11-29    66.812500
Name: Close, dtype: float64

### 3.6 Getting data from dataframe (get multiple column from a dataframe)

In [26]:
aapl_proper_index.loc["2019-11"][["Open","Close"]]

                 Open      Close
Date
2019-11-01  62.384998  63.955002
2019-11-04  64.332497  64.375000
2019-11-05  64.262497  64.282501
2019-11-06  64.192497  64.309998
2019-11-07  64.684998  64.857498
2019-11-08  64.672501  65.035004
2019-11-11  64.574997  65.550003
2019-11-12  65.387497  65.489998
2019-11-13  65.282501  66.117500
2019-11-14  65.937500  65.660004
2019-11-15  65.919998  66.440002
2019-11-18  66.449997  66.775002
2019-11-19  66.974998  66.572502
2019-11-20  66.385002  65.797501
2019-11-21  65.922501  65.502502
2019-11-22  65.647499  65.445000
2019-11-25  65.677498  66.592499
2019-11-26  66.735001  66.072502
2019-11-27  66.394997  66.959999
2019-11-29  66.650002  66.812500

### 3.7 Getting data from dataframe (that's not a date/integer)

In [27]:
branch_summary.loc["Central Branch"]

sales     10000
costs    300000
Name: Central Branch, dtype: int64

In [28]:
branch_summary["sales"]

Central Branch    10000
TST Branch         2000
Mongkok Branch     3000
Name: sales, dtype: int64

### 3.8 Getting data from dataframe (using implicit index)

In [29]:
branch_summary.index

Index(['Central Branch', 'TST Branch', 'Mongkok Branch'], dtype='object')

In [30]:
aapl_proper_index.index

DatetimeIndex(['2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31',
               '2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06',
               '2019-11-07', '2019-11-08',
               ...
               '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-19',
               '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23',
               '2020-10-26', '2020-10-27'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [31]:
aapl.index

RangeIndex(start=0, stop=253, step=1)

In [32]:
aapl_proper_index.iloc[0:10]

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-10-28  61.855000  62.312500  61.680000  62.262501  61.650810   96572800
2019-10-29  62.242500  62.437500  60.642502  60.822498  60.224953  142839600
2019-10-30  61.189999  61.325001  60.302502  60.814999  60.217525  124522000
2019-10-31  61.810001  62.292500  59.314999  62.189999  61.579021  139162000
2019-11-01  62.384998  63.982498  62.290001  63.955002  63.326683  151125200
2019-11-04  64.332497  64.462502  63.845001  64.375000  63.742554  103272000
2019-11-05  64.262497  64.547501  64.080002  64.282501  63.650970   79897600
2019-11-06  64.192497  64.372498  63.842499  64.309998  63.678192   75864400
2019-11-07  64.684998  65.087502  64.527496  64.857498  64.413116   94940400
2019-11-08  64.672501  65.110001  64.212502  65.035004  64.589409   69986400

## 4. Filtering

### 4.1 Single condition

In [33]:
aapl_proper_index["Open"] > 100

Date
2019-10-28    False
2019-10-29    False
2019-10-30    False
2019-10-31    False
2019-11-01    False
              ...
2020-10-21     True
2020-10-22     True
2020-10-23     True
2020-10-26     True
2020-10-27     True
Name: Open, Length: 253, dtype: bool

In [34]:
aapl_proper_index[aapl_proper_index["Open"] > 100]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-31,102.885002,106.415001,100.824997,106.260002,106.068756,374336800
2020-08-03,108.199997,111.637497,107.892502,108.937500,108.741440,308151200
2020-08-04,109.132500,110.790001,108.387497,109.665001,109.467628,173071600
2020-08-05,109.377502,110.392502,108.897499,110.062500,109.864410,121992000
2020-08-06,110.404999,114.412498,109.797501,113.902496,113.697502,202428800
...,...,...,...,...,...,...
2020-10-21,116.669998,118.709999,116.449997,116.870003,116.870003,89946000
2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000
2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600
2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700
2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,91927700

## 4.2 multiple condition

In [35]:
(aapl_proper_index["Open"] > 100) & (aapl_proper_index["Volume"] > 100000000)

Date
2019-10-28    False
2019-10-29    False
2019-10-30    False
2019-10-31    False
2019-11-01    False
              ...
2020-10-21    False
2020-10-22     True
2020-10-23    False
2020-10-26     True
2020-10-27    False
Length: 253, dtype: bool

In [36]:
cond = (aapl_proper_index["Open"] > 100) & (aapl_proper_index["Volume"] > 100000000)

In [37]:
aapl_proper_index[cond]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-31,102.885002,106.415001,100.824997,106.260002,106.068756,374336800
2020-08-03,108.199997,111.637497,107.892502,108.937500,108.741440,308151200
2020-08-04,109.132500,110.790001,108.387497,109.665001,109.467628,173071600
2020-08-05,109.377502,110.392502,108.897499,110.062500,109.864410,121992000
2020-08-06,110.404999,114.412498,109.797501,113.902496,113.697502,202428800
2020-08-07,113.205002,113.675003,110.292503,111.112503,111.112503,198045600
2020-08-10,112.599998,113.775002,110.000000,112.727501,112.727501,212403600
2020-08-11,111.970001,112.482498,109.107498,109.375000,109.375000,187902400
2020-08-12,110.497498,113.275002,110.297501,113.010002,113.010002,165944800
2020-08-13,114.430000,116.042503,113.927498,115.010002,115.010002,210082000
2020-08-14,114.830002,115.000000,113.044998,114.907501,114.907501,165565200
2020-08-17,116.062500,116.087502,113.962502,114.607498,114.607498,119561600
2020-08-18,114.352501,116.000000,114.007500,115.562500,115.562500,105633600
2020-08-19,115.982498,117.162498,115.610001,115.707497,115.707497,145538000
2020-08-20,115.750000,118.392502,115.732498,118.275002,118.275002,126907200
2020-08-21,119.262497,124.867500,119.250000,124.370003,124.370003,338054800
2020-08-24,128.697495,128.785004,123.937500,125.857498,125.857498,345937600
2020-08-25,124.697502,125.180000,123.052498,124.824997,124.824997,211495600
2020-08-26,126.180000,126.992500,125.082497,126.522499,126.522499,163022400
2020-08-27,127.142502,127.485001,123.832497,125.010002,125.010002,155552400
2020-08-28,126.012497,126.442497,124.577499,124.807503,124.807503,187630000
2020-08-31,127.580002,131.000000,126.000000,129.039993,129.039993,225702700
2020-09-01,132.759995,134.800003,130.529999,134.179993,134.179993,152470100
2020-09-02,137.589996,137.979996,127.000000,131.399994,131.399994,200119000
2020-09-03,126.910004,128.839996,120.500000,120.879997,120.879997,257599600
2020-09-04,120.070000,123.699997,110.889999,120.959999,120.959999,332607200
2020-09-08,113.949997,118.989998,112.680000,112.820000,112.820000,231366600
2020-09-09,117.260002,119.139999,115.260002,117.320000,117.320000,176940500
2020-09-10,120.360001,120.500000,112.500000,113.489998,113.489998,182274400
2020-09-11,114.570000,115.230003,110.000000,112.000000,112.000000,180860300
2020-09-14,114.720001,115.930000,112.800003,115.360001,115.360001,140150100
2020-09-15,118.330002,118.830002,113.610001,115.540001,115.540001,184642000
2020-09-16,115.230003,116.000000,112.040001,112.129997,112.129997,154679000
2020-09-17,109.720001,112.199997,108.709999,110.339996,110.339996,178011000
2020-09-18,110.400002,110.879997,106.089996,106.839996,106.839996,287104900
2020-09-21,104.540001,110.190002,103.099998,110.080002,110.080002,195713800
2020-09-22,112.680000,112.860001,109.160004,111.809998,111.809998,183055400
2020-09-23,111.620003,112.110001,106.769997,107.120003,107.120003,150718700
2020-09-24,105.169998,110.250000,105.000000,108.220001,108.220001,167743300
2020-09-25,108.430000,112.440002,107.669998,112.279999,112.279999,149981400
2020-09-28,115.010002,115.320000,112.779999,114.959999,114.959999,137672400
2020-09-30,113.790001,117.260002,113.620003,115.809998,115.809998,142675200
2020-10-01,117.639999,117.720001,115.830002,116.790001,116.790001,116120400
2020-10-02,112.889999,115.370003,112.220001,113.019997,113.019997,144712000
2020-10-05,113.910004,116.650002,113.550003,116.500000,116.500000,106243800
2020-10-06,115.699997,116.120003,112.250000,113.160004,113.160004,161498200
2020-10-09,115.279999,117.000000,114.919998,116.970001,116.970001,100506900
2020-10-12,120.059998,125.180000,119.279999,124.400002,124.400002,240226800
2020-10-13,125.269997,125.389999,119.650002,121.099998,121.099998,262330500
2020-10-14,121.000000,123.029999,119.620003,121.190002,121.190002,151062300
2020-10-15,118.720001,121.199997,118.150002,120.709999,120.709999,112559200
2020-10-16,121.279999,121.550003,118.809998,119.019997,119.019997,115393800
2020-10-19,119.959999,120.419998,115.660004,115.980003,115.980003,120639300
2020-10-20,116.199997,118.980003,115.629997,117.510002,117.510002,124423700
2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000
2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700

#### Side notes

Showing the top

In [38]:
aapl_proper_index[cond].head(20)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-31,102.885002,106.415001,100.824997,106.260002,106.068756,374336800
2020-08-03,108.199997,111.637497,107.892502,108.937500,108.741440,308151200
2020-08-04,109.132500,110.790001,108.387497,109.665001,109.467628,173071600
2020-08-05,109.377502,110.392502,108.897499,110.062500,109.864410,121992000
2020-08-06,110.404999,114.412498,109.797501,113.902496,113.697502,202428800
2020-08-07,113.205002,113.675003,110.292503,111.112503,111.112503,198045600
2020-08-10,112.599998,113.775002,110.000000,112.727501,112.727501,212403600
2020-08-11,111.970001,112.482498,109.107498,109.375000,109.375000,187902400
2020-08-12,110.497498,113.275002,110.297501,113.010002,113.010002,165944800
2020-08-13,114.430000,116.042503,113.927498,115.010002,115.010002,210082000
2020-08-14,114.830002,115.000000,113.044998,114.907501,114.907501,165565200
2020-08-17,116.062500,116.087502,113.962502,114.607498,114.607498,119561600
2020-08-18,114.352501,116.000000,114.007500,115.562500,115.562500,105633600
2020-08-19,115.982498,117.162498,115.610001,115.707497,115.707497,145538000
2020-08-20,115.750000,118.392502,115.732498,118.275002,118.275002,126907200
2020-08-21,119.262497,124.867500,119.250000,124.370003,124.370003,338054800
2020-08-24,128.697495,128.785004,123.937500,125.857498,125.857498,345937600
2020-08-25,124.697502,125.180000,123.052498,124.824997,124.824997,211495600
2020-08-26,126.180000,126.992500,125.082497,126.522499,126.522499,163022400
2020-08-27,127.142502,127.485001,123.832497,125.010002,125.010002,155552400

In [39]:
aapl_proper_index[cond].tail(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-16,121.279999,121.550003,118.809998,119.019997,119.019997,115393800
2020-10-19,119.959999,120.419998,115.660004,115.980003,115.980003,120639300
2020-10-20,116.199997,118.980003,115.629997,117.510002,117.510002,124423700
2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000
2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700

## 4.3 query

In [40]:
aapl_proper_index[cond].query("Open > 100 and Volume > 110000000").head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-31,102.885002,106.415001,100.824997,106.260002,106.068756,374336800
2020-08-03,108.199997,111.637497,107.892502,108.937500,108.741440,308151200
2020-08-04,109.132500,110.790001,108.387497,109.665001,109.467628,173071600
2020-08-05,109.377502,110.392502,108.897499,110.062500,109.864410,121992000
2020-08-06,110.404999,114.412498,109.797501,113.902496,113.697502,202428800
2020-08-07,113.205002,113.675003,110.292503,111.112503,111.112503,198045600
2020-08-10,112.599998,113.775002,110.000000,112.727501,112.727501,212403600
2020-08-11,111.970001,112.482498,109.107498,109.375000,109.375000,187902400
2020-08-12,110.497498,113.275002,110.297501,113.010002,113.010002,165944800
2020-08-13,114.430000,116.042503,113.927498,115.010002,115.010002,210082000

# 5. New columns

## 5.1 Density Example

In [41]:

population = pd.Series({'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
)

area = pd.Series({'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995})

states = pd.DataFrame(  {'population': population,'area': area} )
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [42]:
states["density"] = states["population"] / states["area"]

In [43]:
states

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

## 5.2 Stocks example

In [44]:
aapl_proper_index["Percent Changes"] = aapl_proper_index["Close"].pct_change()

In [45]:
aapl_proper_index

,Open,High,Low,Close,Adj Close,Volume,Percent Changes
Date,,,,,,,
2019-10-28,61.855000,62.312500,61.680000,62.262501,61.650810,96572800,NaN
2019-10-29,62.242500,62.437500,60.642502,60.822498,60.224953,142839600,-0.023128
2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000,-0.000123
2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000,0.022610
2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200,0.028381
...,...,...,...,...,...,...,...
2020-10-21,116.669998,118.709999,116.449997,116.870003,116.870003,89946000,-0.005446
2020-10-22,117.449997,118.040001,114.589996,115.750000,115.750000,101988000,-0.009583
2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600,-0.006134
2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700,0.000087
2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,91927700,0.013472

# 6. Aggregation

## 6.1 Basic operations

In [46]:
aapl_proper_index["Percent Changes"].mean()

np.float64(0.0028956964634767705)

In [47]:
aapl_proper_index["Percent Changes"].max()

np.float64(0.11980826040056836)

In [48]:
aapl_proper_index["Percent Changes"].min()

np.float64(-0.12864694751232164)

In [49]:
aapl_proper_index["Percent Changes"].median()

np.float64(0.0024045071214521263)

In [50]:
aapl_proper_index[aapl_proper_index["Percent Changes"] > 0]["Percent Changes"].mean()

np.float64(0.01985402460478214)

In [51]:
aapl_proper_index[aapl_proper_index["Percent Changes"] < 0]["Percent Changes"].mean()

np.float64(-0.01881547236798305)

## 6.2 Grouping

We use planets discovery data as an example for grouping

In [52]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [53]:
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [54]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [55]:
planets.groupby('method')['orbital_period'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [56]:
planets.groupby('method')["number"].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: number, dtype: int64

# 7. Joining Data

## 7.1 Merge (or join)

In [57]:
department = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

department

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [58]:
hire_date = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

hire_date

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [59]:
employee = pd.merge(department, hire_date)
employee

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [60]:
employee = pd.merge(department, hire_date, on="employee")
employee

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [61]:
salary = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
salary

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

In [62]:
employee = pd.merge(department, salary, left_on="employee", right_on="name")
employee

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [63]:
employee = employee.drop('name',axis=1)
employee

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

## 7.2 one to many merging

In [64]:
supervisor = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
supervisor

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [65]:
pd.merge(employee,supervisor)

  employee        group  salary supervisor
0      Bob   Accounting   70000      Carly
1     Jake  Engineering   80000      Guido
2     Lisa  Engineering  120000      Guido
3      Sue           HR   90000      Steve

# 7.3 Many to Many merging

In [66]:
skills = pd.DataFrame({'group': ['Accounting', 'Accounting','Engineering', 
                              'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 
                               'linux','spreadsheets', 'organization']})

In [67]:
pd.merge(employee,skills)

  employee        group  salary        skills
0      Bob   Accounting   70000          math
1      Bob   Accounting   70000  spreadsheets
2     Jake  Engineering   80000        coding
3     Jake  Engineering   80000         linux
4     Lisa  Engineering  120000        coding
5     Lisa  Engineering  120000         linux
6      Sue           HR   90000  spreadsheets
7      Sue           HR   90000  organization

It's a very strange set of data. Make sure you know how to use it for many-to-many merging

## 7.4 Inner Join / Outer Join / Left Join / Right Join

In [68]:
fav_food = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
fav_food

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

In [69]:
fav_drink = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])
fav_drink

     name drink
0    Mary  wine
1  Joseph  beer

In [70]:
pd.merge(fav_food, fav_drink)

   name   food drink
0  Mary  bread  wine

In [71]:
pd.merge(fav_food, fav_drink, how="outer")

     name   food drink
0  Joseph    NaN  beer
1    Mary  bread  wine
2    Paul  beans   NaN
3   Peter   fish   NaN

In [72]:
pd.merge(fav_food, fav_drink, how="left")

    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

In [73]:
pd.merge(fav_food, fav_drink, how="right")

     name   food drink
0    Mary  bread  wine
1  Joseph    NaN  beer

# 8. Handling Missing Data

In [74]:
hibor = pd.read_csv("hibor.csv", parse_dates=True, index_col='date')

In [75]:
hibor

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-05,0.03,0.04971,0.05000,0.07964,0.11000,0.15000,0.29929,0.68929
2010-01-06,0.03,0.04900,0.04971,0.08000,0.11000,0.14000,0.28000,0.66857
2010-01-07,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-08,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-11,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000

## 8.1 Check missing data

In [76]:
hibor.isnull()

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-01,True,True,True,True,True,True,True,True
2010-01-02,True,True,True,True,True,True,True,True
2010-01-03,True,True,True,True,True,True,True,True
2010-01-04,False,False,False,False,False,False,False,False
2010-01-05,False,False,False,False,False,False,False,False
2010-01-06,False,False,False,False,False,False,False,False
2010-01-07,False,False,False,False,False,False,False,False
2010-01-08,False,False,False,False,False,False,False,False
2010-01-09,True,True,True,True,True,True,True,True
2010-01-10,True,True,True,True,True,True,True,True
2010-01-11,False,False,False,False,False,False,False,False

In [77]:
hibor.isnull().values.any()

np.True_

In [78]:
hibor["overnight"].isnull().values.any()

np.True_

In [79]:
hibor["overnight"].isnull().value_counts()

overnight
False    6
True     5
Name: count, dtype: int64

In [80]:
hibor["overnight"][hibor["overnight"].isnull()]

date
2010-01-01   NaN
2010-01-02   NaN
2010-01-03   NaN
2010-01-09   NaN
2010-01-10   NaN
Name: overnight, dtype: float64

## 8.2 Drop Data

In [81]:
hibor.dropna()

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-04,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-05,0.03,0.04971,0.05000,0.07964,0.11000,0.15000,0.29929,0.68929
2010-01-06,0.03,0.04900,0.04971,0.08000,0.11000,0.14000,0.28000,0.66857
2010-01-07,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-08,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-11,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000

## 8.3 Fill with specific values

Notes: Just show as an example. Does not make sense in this scenario

In [82]:
hibor.fillna(0)

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-01,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2010-01-02,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2010-01-03,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2010-01-04,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-05,0.03,0.04971,0.05000,0.07964,0.11000,0.15000,0.29929,0.68929
2010-01-06,0.03,0.04900,0.04971,0.08000,0.11000,0.14000,0.28000,0.66857
2010-01-07,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-08,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-09,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2010-01-10,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2010-01-11,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000

## 8.4 Fill with previous values (i.e. forward fill)

In [83]:
hibor.fillna(method='ffill')

C:\Users\betoq\AppData\Local\Temp\ipykernel_5104\3553881708.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  hibor.fillna(method='ffill')

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-05,0.03,0.04971,0.05000,0.07964,0.11000,0.15000,0.29929,0.68929
2010-01-06,0.03,0.04900,0.04971,0.08000,0.11000,0.14000,0.28000,0.66857
2010-01-07,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-08,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-09,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-10,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-11,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000

## 8.5 Fill with next values (i.e. back fill)

Remark: may not make sense in this example

In [84]:
hibor.fillna(method='bfill')

C:\Users\betoq\AppData\Local\Temp\ipykernel_5104\4075939013.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  hibor.fillna(method='bfill')

,overnight,1 week,2 weeks,1 months,2 months,3 months,6 months,12 months
date,,,,,,,,
2010-01-01,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-02,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-03,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-04,0.03,0.04971,0.05000,0.07964,0.11893,0.15679,0.31571,0.71429
2010-01-05,0.03,0.04971,0.05000,0.07964,0.11000,0.15000,0.29929,0.68929
2010-01-06,0.03,0.04900,0.04971,0.08000,0.11000,0.14000,0.28000,0.66857
2010-01-07,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-08,0.03,0.04971,0.04971,0.06964,0.10000,0.13000,0.26000,0.62857
2010-01-09,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000
2010-01-10,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000
2010-01-11,0.03,0.04971,0.04971,0.06036,0.09000,0.12000,0.24000,0.57000

# 9. Export CSV

Export dataframe to a csv. Remember don't override the original file!

In [85]:
aapl_proper_index.to_csv("AAPL_new.csv")